@charset "UTF-8";

@import "vendor/normalize";

a {
  text-decoration: none;
  color: #8da0aa;
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
button {
  background: transparent;
  margin-left: 15px;
  display: inline-block;
  border: 1px solid #d1d9dd;
  box-shadow: none;
  height: 30px;
  width: 30px;
}
ul {
  list-style: none;
}
/* main */
div#root,
div.main {
  height: 100%;
}
/* header */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  height: 60px;
  background: -moz-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #008fe2), color-stop(100%, #00b29c));
  background: -webkit-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
  background: -o-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
  background: -ms-linear-gradient(-65deg, #008fe2 0, #00b29c 100%);
  background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
  div#home-img {
    position: relative;
    height: 100%;
    width: 100%;
  }
  a.home {
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    img {
      height: 40px;
      margin: 10px;
    }
  }
}
/* sidebar */
.sidebar {
  background: #fff;
  position: fixed;
  width: 250px;
  left: 0px;
  top: 60px;
  &.sidebar-nav {
    list-style: none;
    padding: 0px;
    margin: 0px;
    &.sidebar-nav-item {
      height: 40px;
      padding: 0px 20px;
      margin: 10px 5px;
      &.sidebar-nav-item a {
        display: inline-block;
        height: 100%;
        width: 100%;
        line-height: 40px;
      }
      :hover {
        border: 1px solid #d1d9dd;
      }
      .fa {
        padding-right: 10px;
      }
    }
  }
}

/* content */
.content {
  float: right;
  background: #fafcfe;
  position: absolute;
  left: 250px;
  top: 60px;
}

/* MatchCreatePage */
.matches-create-page {
  a.button {
    float: right;
    margin: 0px 14px;
    height: 30px;
    line-height: 30px;
    padding: 5px 15px;
    border: 1px solid #d1d9dd;
    &:hover {
      font-weight: 400;
      border-width: 2px;
    }
  }
  .team-builder-form-container {
    height: 750px;
    text-align: center;
    display: flex;
    div.team-info-block {
      width: 50%;
      margin: 10px;
      height: 95%;
      border: 1px solid #d1d9dd;
      position: relative;
    }
    .team-header-img {
      border-radius: 100%;
      margin: 15px auto;
    }
  }
  .step-change-btn {
    height: 60px;
  }
}

/* footer */
.footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: center;
}
